<%-
  include('partials/head', {
    title: attributes.title
  });
%>
<%- include('partials/topnav') %>

<div class="container" style="margin-top:20px">
<h3>
  Fancy display heading
  <small class="text-muted">With faded secondary text</small>
</h3>
  <%- body %>

</div>

<%- include('partials/footer') %>